---
apiVersion: v1
kind: Secret
metadata:
  name: awx-tls-certificate
  namespace: awx
type: kubernetes.io/tls
data:
  tls.crt: {{ awx_certificate | b64encode }}
  tls.key: {{ awx_certificate_key | b64encode }}